API_BASE_URL=
API_USERNAME=
API_APP_PASSWORD=
API_WORKSPACE=

# Variables for sending emails
SES_CHARSET=utf-8
SES_RETURN_TO_ADDRESS=
SES_RECIPIENT_EMAILS=example1@example.com example2@example.com

# Variables for Serverless Framework
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=